html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Trebuchet MS;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.05pc;
  color: white;
  line-height: 1.5;
}

h2{
  margin-top: 0;
  color: #6ea9c6;
  text-transform: uppercase;
}
 
a {
  color: #aac5da;
}

.f14 {
  font-size: 14px;
}


a.disabled:hover {
  cursor: not-allowed;
}

.disabled-link {
  pointer-events: none;
}

.main-container{
  width: 65%;
  margin: 0 auto;
  padding: 0;
}

#wrapper {
  width: 100%;
  margin: 20px auto 0;
  background-color: rgb(7, 19, 34,0.8);
  padding: 5px;
  box-sizing: border-box;
  flex-wrap: nowrap;
}

#navbar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-wrap: nowrap;
  border: 1px solid #414D5F;
  box-sizing: border-box;
}

#navbar img {
  position: absolute;
  top: 25px;
  left: 18%;
  margin-left: 10px;
}

#nav-links {
  display: flex;
  align-items: center;
  justify-content: end;
  list-style-type: none;
  float: right;
  padding-right: 10px;
}

#nav-links a{
  color:#6ea9c6;
  padding:0 8px;
  font-size: 18px;
  text-transform: uppercase;
}

.nav-link {
  padding: 10px;
  text-decoration: none;
  color: black;
}

#nav-links a.active{
  color: white;
}

.nav-link.active  { 
  border-radius: 4px;
  background-color: #4e668e;
}

.pipe li:not(:last-child)::after {
  content: '|';
  font-size: 18px;
  vertical-align: auto;
}

#height-space{
  height: 30px;
}

.main-content-wrapper {
   padding:0px 5px 5px 5px;
   background-color: #071322;
   opacity: 0.8;
}

#footer-container {
  padding-top: 10px;
  height: 100px;
}

#footer {
  margin: 10px auto;
  text-align: center;
  background-color: #3d5179;
  color: #a2d0e2;
  padding: 4px 0;
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

#footer a {
  color: white;
  margin: 4px;
}

#footer-links {
  display: flex; 
  align-items: center; 
  list-style-type: none; 
  padding: 0; 
  margin: 0;
}

.selected-tab {
  background-color:#4e668e;
  padding: 8px !important;
  border-radius: 6px;
  color: white !important;
}
