#wrapper {
    width: 100%;
    margin:0 auto 0;
    background-color: #071322;
    opacity: 0.8;
    padding: 5px;
    box-sizing: border-box;
    flex-wrap: nowrap;
  }
  
  .content-border {
    border-left: 1px solid #414D5F;
    border-right: 1px solid #414D5F;
    border-bottom: 1px solid #414D5F;
  }
  
  #navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: nowrap;
    border: 1px solid #414D5F;
  }
  
  #navbar img {
    position: absolute;
    top: 50px;
    left: 15%;
    margin-left: 10px;
  }
  
  #nav-links {
    display: flex;
    align-items: center;
    justify-content: end;
    list-style-type: none;
    float: right;
    padding-right: 10px;
  }
  
  #nav-links a{
    color:#6ea9c6;
    padding: 8px;
    font-size: 18px;
    text-transform: uppercase;
  }
  
  .nav-link {
    padding: 10px;
    text-decoration: none;
    color: black;
  }
  
  #nav-links a.active{
    color: white;
  }
  
  .nav-link.active  { 
    border-radius: 4px;
    background-color: #4e668e;
  }
  
  .pipe li:not(:last-child)::after {
    content: '|';
    font-size: 18px;
  }
  