#service-section{
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
    justify-content: start;
    border: 1px solid transparent;
    border-left-color: #414D5F;
    border-right-color: #414D5F;
    border-bottom-color: #414D5F;
}

#service-images{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0;
    align-items: start;
}

#service-images img{
   padding-bottom: 20px;
}

#service-images a{
    display: block;
    text-align: start;
    padding-left: 20px;
}
#service-images a:hover{
   color: white;
}

.links-container{
    border-bottom: 1px solid #606678;
    border-top: 1px solid #606678;
    width: 100%;
    margin: 10px 0px;
    padding: 10px 0px;
}

#service-article {
    padding-left: 25px;
    text-align: start;
}

#service-contact{
    padding:0 25px;
    background-color:#21385b ;
    margin: 0;
    border-bottom: 1px solid #606678;
    border-top: 1px solid #606678;
}

#request-contact {
    margin: 0;
    margin-bottom: 10px;
    color: white;
    font-size: 14px;
    background-color: #415887;
    border: 1px solid #415887;
    border-radius: 8px;
    display: inline-block;
    padding: 4px;
}

