#servicePageContent{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#service-section{
    padding: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
    justify-content: start;
    border: 1px solid #414D5F;;
    box-sizing: border-box;
}

#service-images{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0;
    align-items: start;
}

#service-images img{
   padding-bottom: 20px;
}

#service-images a{
    display: block;
    text-align: start;
    padding-left: 20px;
}
#service-images a:hover{
   color: white;
}

.links-container{
    border-bottom: 1px solid #606678;
    border-top: 1px solid #606678;
    width: 100%;
    margin: 10px 0px;
    padding: 10px 0px;
}

#service-article {
    padding-left: 25px;
    text-align: start;
}

#service-contact{
    padding:0 25px;
    background-color:#21385b ;
    margin: 0;
    border-bottom: 1px solid #606678;
    border-top: 1px solid #606678;
}

#service-contact p{
    margin: 15px 0;
}

#request-contact {
    margin: 0 0 10px;
    color: white;
    font-size: 14px;
    letter-spacing: 1.5px;
    font-weight: normal;
    background-color: #415887;
    border: 1px solid #415887;
    border-radius: 10px;
    display: inline-block;
    padding: 6px;
}

