#home-title-container {
   background-color: rgb(22, 45, 54, 0.3);
   height: 170px;
   display: flex;
   align-items: center;
 }

#home-title-container h1{
   text-transform: uppercase;
   letter-spacing: 8px;
   padding: 40px;
   font-size: 2.5rem;
   line-height: 1;
   font-weight: 100;
}

#image-tiles-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0;
    padding: 15px 10px;
    border: 1px solid #414D5F;
}

.tile {
   flex: 1; 
   margin: 0 5px; 
   background-color: transparent;
   padding: 10px 8px;
}

.tile img {
   width: 100%;
}

.tile p {
   color: white;
   text-overflow: clip;
}

.tile a{
   color: white;
}

.tile-description {
   padding-bottom: 6px;
}



